/* 
    .color1 { #556a95#556a95 };
    .color2 { #6d82ae };
    .color3 { #8599c7 };
    .color4 { #9db1e0 };
    .color5 { #b5c8f9 };
*/

body{
    background-color: #fff !important;
}

p, h1, h2, h3, h4, h5, a, ul li, i{
    color: #556a95 !important;
}

.inicio{
    margin-top: 5%;
}

.container .row .col .container .img-hero{
    border: solid 3px #556a95;
    border-radius: 50%;
    background-color: #556a95;
}

.progress-bar{
    background-color: #556a95 !important;
}

.container .row .col .progress{
    height: 20px;
}

footer .col .a{
    color: #556a95 !important;
}

.botom-card{
    background-color: #556a95;
}